# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.iml
*.ipr
*.iws

# Android
**/android/.gradle
**/android/app/build
**/android/local.properties
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/

# Node.js / Firebase Backend
**/node_modules/
firebase-debug.log
firebase-debug.*.log
.firebase/

# SECRETS
*.env
.env*
.env.local

# Tracking
unresolved_issues.txt

# Local SDK
android-sdk/

